
## ================= Python For =================

In [82]:
alpabet = ['A', 'B', 'C', 'D', 'E']
endLoop = "\nEnd loop"

In [83]:
for i in range( 1, len(alpabet), 2):
    print(alpabet[i])
print(endLoop)

B
D

End loop

In [84]:
for i in range( 0, len(alpabet)):
    if (i % 2 == 1):
        print(alpabet[i], "Huruf Genap")
    else:
        print(alpabet[i], "Bukan Huruf Genap")
        
print(endLoop)

A Bukan Huruf Genap
B Huruf Genap
C Bukan Huruf Genap
D Huruf Genap
E Bukan Huruf Genap

End loop


## ================= Python While =================

In [67]:
i = 0
while i < (len(alpabet)):
    print(alpabet[i])
    i += 2
print(endLoop)

A
C
E

End loop

## ================= Python Xlrd (Excel) =================

In [69]:
import xlrd

loc = ("coba.xls")
wb = xlrd.open_workbook(loc)
sheet = wb.sheet_by_index(0)

#sheet.cell_value(0,0)

In [77]:
for i in range(1, sheet.nrows):
    #if(sheet.cell_value(i,0) == 'Firman'):
        for j in range(0, sheet.ncols):
            print(sheet.cell_value(0,j)," : ",sheet.cell_value(i,j))

Nama  :  Alex
Semester  :  4.0
NIM  :  1234.0
Kota  :  Jakarta
Nilai  :  90.0
Nama  :  Firman
Semester  :  4.0
NIM  :  1231.0
Kota  :  Bekasi
Nilai  :  88.0
Nama  :  Justin
Semester  :  5.0
NIM  :  5342.0
Kota  :  Depok
Nilai  :  78.0
Nama  :  Case
Semester  :  8.0
NIM  :  2731.0
Kota  :  Depok
Nilai  :  77.0
Nama  :  Jhon
Semester  :  1.0
NIM  :  8902.0
Kota  :  Jakarta
Nilai  :  97.0

In [71]:
nama = []
semster = []
nim = []

for i in range(1, sheet.nrows, 1):
    nama.append(sheet.cell_value(i,0))
    semster.append(sheet.cell_value(i,1))
    nim.append(sheet.cell_value(i,2))

print(nama)
print(semster)
print(nim)

['Alex', 'Firman', 'Justin', 'Case', 'Jhon']
[4.0, 4.0, 5.0, 8.0, 1.0]
[1234.0, 1231.0, 5342.0, 2731.0, 8902.0]

In [87]:
import json

studentLis = []
for i in range(1, sheet.nrows, 1):
    student = {
        "NIM": sheet.cell_value(i,2),
        "Nama": sheet.cell_value(i,0), 
        "Semester": sheet.cell_value(i,1),
        "Kota": sheet.cell_value(i,3),
        "Nilai": sheet.cell_value(i,4)
    }
    studentLis.append(student)
x= json.dumps(studentLis)
print(x)

[{"NIM": 1234.0, "Nama": "Alex", "Semester": 4.0, "Kota": "Jakarta", "Nilai": 90.0}, {"NIM": 1231.0, "Nama": "Firman", "Semester": 4.0, "Kota": "Bekasi", "Nilai": 88.0}, {"NIM": 5342.0, "Nama": "Justin", "Semester": 5.0, "Kota": "Depok", "Nilai": 78.0}, {"NIM": 2731.0, "Nama": "Case", "Semester": 8.0, "Kota": "Depok", "Nilai": 77.0}, {"NIM": 8902.0, "Nama": "Jhon", "Semester": 1.0, "Kota": "Jakarta", "Nilai": 97.0}]